.login-title{
  display: flex;
  justify-content: center;
}

.login-form{
  padding-top: 10px;
  background-color: lightgray;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
}

.email, .password{
  margin: 10px 10px;
  width: 60%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email input, .password input {
  padding: 5px;
}

.login-button{
  margin-bottom: 10px;
  border: 2px solid gray;
  background-color: white;
  padding: 5px;
}

.odjava-button {
  /*display: block;*/
  /*margin: 0 auto;*/
  /*margin-top: 10px;*/
  display: block;
  position: absolute;
  right: 20px;
  top: 30px;
  border: none;
  background-color: lightgray;
  padding: 10px;
  cursor: pointer;
}

.odjava-button:hover{
  color: white;
}
