<h2 *ngIf="!logged && sharedService.loginPressed" class="login-title">Login</h2>
<form (ngSubmit)="login()" *ngIf="!logged && sharedService.loginPressed" class="login-form">
  <div class="email">
    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required>
  </div>
  <div class="password">
    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>
  </div>
  <button type="submit" class="login-button">Login</button>
</form>
<div *ngIf="logged" class="odjava-button-div">
  <button (click)="odjavljivanje()" class="odjava-button">Odjavi se</button>
</div>
