<h1>Welcome to the Manga Store!</h1>

<div>
  <a routerLink="/login">Login</a> |
  <a routerLink="/registration">Registration</a>
</div>

<router-outlet></router-outlet>

<h2>Book List</h2>
<ul>
  <li *ngFor="let manga of mangas">
    {{ manga.title }} - {{ manga.author }} - ${{ manga.price }}
    <button (click)="addToCart(manga)">Add to Cart</button>
  </li>
</ul>

<h2>Cart</h2>
<ul>
  <li *ngFor="let item of getCartItems()">
    {{ item.title }} - {{ item.author }} - ${{ item.price }}
  </li>
</ul>

<button (click)="purchase()" *ngIf="getCartItems().length > 0 && isLoggedIn()">Purchase</button>
